doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .wrapper
            ul
               - for (var x = 0; x < 5; x++)
                    li
                        a(href="")
            ul 
                - 
                    var list = ["Uno", "Dos", "Tres",
                    "Cuatro", "Cinco", "Seis"]
                each item in list
                    li= item
            header.header#header
                .container 
                    .logo.logogo
                    nav.menu 
                        ul 
                            li lorem
                            li.
                                Далеко-далеко за
                                словесными горами в стране гласных, и согласных живут рыбные тексты. Заголовок не возвращайся рекламных проектах одна встретил <em>text</em> lorem взобравшись рукописи языком дороге заглавных залетают ведущими свой составитель, парадигматическая, журчит имеет!
                            li Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Пор он которое букв текстами заглавных наш его единственное если это повстречался. Раз вскоре но свой диких подпоясал семантика семь!
                            li
                                a(href="#") link
                            li
            footer.footer 
                |
                |
                a(href="") 1
                |
                |
                a(href="") 2
                |
                |
                a(href="") 3